body {
    background-image: url("../images/beautiful-milky-way-night-sky.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.body-content {
    width: 800px;
    min-height: 900px;
    border: 10px solid #fff;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    height: 100px;
    background: url("../images/3d-grunge-room-interior-with-spotlight-smoky-atmosphere-background.jpg") center center / cover;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.center-text {
    color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: honeydew;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

img {
    width: 250px;
    margin-top: 20px;
}

p {
    margin: 20px;
    text-align: justify;
    font-size: 26px;
}

footer {
    background-color: #333;
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    text-align: center;
    line-height: 30px;
}
